:root {
  --main-color: #338895;
  /* メインカラー*/
  --sub-color: #338895;
  /* サブカラー*/
  --back-color: #FFFCF9;
  --font-normal: #535353;
  /* 文字カラー*/
  --font-bold: #464646;
  /* 太字カラー*/
  --text-white-color: #F8F8F8;
  /* ホワイトテキストカラー*/
}

/* フッター */
/* ===== フッター全体 ===== */
.footer-all {
  width: 100%;
  background: #fff;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.footer-top {
  padding: 40px 0;
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}

.footer-white-text {
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

/* ===== 緑ブロック ===== */
.footer-menu {
  background: var(--sub-color);
  padding: 0;
}

.footer-menu-item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  border-top: 1px solid var(--back-color);
  border-bottom: 1px solid var(--back-color);
  color: #fff;
  text-decoration: none;
  font-size: 0.92rem;
}

.footer-menu-item-top p {
  padding: 10px;
}

.footer-menu-item p {
  padding: 10px;
}

.footer-menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  border-bottom: 1px solid var(--back-color);
  color: #fff;
  text-decoration: none;
  font-size: 0.92rem;
}

.footer-menu-item i {
  font-size: 0.8rem;
}

/* ===== SNS部分 ===== */
.footer-sns {
  padding: 30px 20px 40px;
  text-align: center;
}

.sns-box {
  display: flex;
  justify-content: space-around;
}

.sns-box-icons {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.sns-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.sns-labels {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.7rem;

}

.sns-icon {
  width: 2rem;

}

.sns-icon-facebook {
  width: 1.7rem;
}

.sns-icon-x {
  width: 1.4rem;
}

.footer-sns-title {
  font-weight: bold;
  font-size: 1.3rem;
  color: var(--font-normal);
  letter-spacing: 0.1em;
  margin-bottom: 18px;
  height: 30px;
}

.sns-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 25px;
}

.sns-item {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #555;
  font-size: 0.95rem;
  text-decoration: none;
}

.sns-item i {
  font-size: 1.3rem;
}

.footer-line {
  width: 80%;
  height: 1px;
  background: #e0e0e0;
  margin: 20px auto;
}

.footer-copy {
  font-size: 0.75rem;
  color: #777;
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  margin: 0;
}