        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
            background-color: var(--back-color);
            line-height: 1.7;
        }

        .container {
            max-width: 480px;
            margin: 0 auto;
            background-color: var(--back-color);
            min-height: 100vh;
            position: relative;
        }

        /* --- ヘッダー --- */
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 40px 5px 15px;
            border-bottom: 1px solid #9F9F9F;
        }

        .logo-placeholder {
            font-weight: bold;
            color: var(--font-normal);
            font-size: 14px;
        }

        /* ハンバーガーボタン */
        .menu-icon {
            position: fixed;
            top: 15px;
            right: 15px;
            width: 50px;
            height: 50px;
            background-color: var(--main-color);
            border-radius: 50%;
            cursor: pointer;
            /* 中の線を中央に寄せる設定 */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            z-index: 9999;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        }

        /* ハンバーガーボタン */
        /* 上の部分 */
        .span-top {
            display: block;
            width: 25px;
            height: 1.5px;
            background-color: #fff;
            margin-bottom: 4px;
        }

        /*  中間 */
        .span-middle {
            display: block;
            width: 28px;
            height: 1.5px;
            background-color: #fff;
        }

        /* 下の部分 */
        .span-bottom {
            display: block;
            width: 20px;
            height: 1.5px;
            background-color: #fff;
            margin-top: 4px;
        }

        .menu-icon-box {
            display: block;
            align-items: center;
            margin: 0 auto;
            width: 50%;
            height: 10px;
        }

        .overlay-menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--main-color);
            z-index: 9999;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s ease, visibility 0.3s ease;
        }

        /* メニューが開いている時のクラス */
        .overlay-menu.active {
            opacity: 1;
            visibility: visible;
        }

        /* 閉じるボタン (×) */
        .close-btn {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 40px;
            cursor: pointer;
            font-weight: 300;
            line-height: 1;
        }

        /* メニューリスト */
        .menu-list {
            list-style: none;
            text-align: center;
            width: 100%;
        }

        .menu-item {
            margin: 10px 0;
            font-size: 18px;
            font-weight: normal;
            letter-spacing: 1px;
            cursor: pointer;
        }

        /* 白い短い横線 */
        .menu-separator {
            width: 40px;
            height: 2px;
            background-color: white;
            margin: 20px auto;
            /* ハンバーガーボタン最後 */
        }

        /* --- パンくずリスト --- */
        .breadcrumb {
            padding: 0.8rem 0;
            margin-left: 0.5rem;
            font-size: 0.7rem;
            color: var(--font-normal);
        }

        .breadcrumb-middle {
            margin-left: 0.5rem;
            padding: 0.8rem 0;
            font-size: 0.7rem;
            color: var(--font-normal);
        }


        .breadcrumb-box {
            display: flex;
            margin-bottom: 1rem;
            padding-left: 5px;
        }

        /* News 新着情報 */
        .list-box {
            padding: 1rem 3rem;
            color: var(--font-normal);
        }

        .list-title {
            font-size: 1.5rem;
        }

        .list-border {
            border: 1.5px solid var(--main-color);
            width: 50%;
        }

        .list-box p {
            padding: 5px 0;
        }

        /* 詳細部分 */
        .plans-box {
            width: 100%;
            display: block;
            justify-content: space-between;
            background-color: white;
            padding: 20px;
        }

        .box-text {
            color: var(--font-normal);
            border-bottom: 1px solid #9F9F9F;
            padding-bottom: 12px;
        }

        .box-text h2 {
            text-align: center;
        }

        .deta-box {
            display: flex;
            gap: 20px;
            padding: 15px;
            color: var(--font-normal);
        }

        .deta-box-plan {
            color: var(--sub-color);
        }

        .news-plan {
            padding: 20px;
        }

        .news-plan p {
            color: var(--font-normal);
            letter-spacing: 1px;
            padding: 10px;
            line-height: 2;
        }

        .heading-style {
            font-size: 20px;
            font-weight: bold;
            color: var(--font-normal);
            display: flex;
            align-items: center;
            gap: 12px;
            margin: 0;
        }

        .heading-style::before {
            content: '';
            display: inline-block;
            width: 6px;
            height: 30px;
            background-color: var(--sub-color);
            border-radius: 5px;
            flex-shrink: 0;
        }

        /* 一覧に戻る */
        .navigation-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
            padding: 20px;
            font-family: sans-serif;
            margin: 50px 0;
        }

        .nav-link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: var(--font-normal);
            border: 1px solid var(--font-normal);
            transition: all 0.2s ease;
            box-sizing: border-box;
        }

        .nav-link:hover {
            color: var(--font-normal);
        }

        .circle-button {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            font-size: 20px;
            flex-shrink: 0;
        }

        .rectangle-button {
            width: 80%;
            height: 48px;
            border-radius: 6px;
            font-size: 16px;
        }





        /* フッター */
        /* ===== フッター全体 ===== */
        .footer-all {
            width: 100%;
            background: #fff;
            border-radius: 0 0 6px 6px;
            box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.15);
            overflow: hidden;
        }

        .footer-top {
            padding: 40px 0;
            display: flex;
            justify-content: center;
            gap: 1rem;
        }

        .footer-white-text {
            color: white;
            font-weight: 700;
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            margin-top: 1rem;
        }

        /* ===== 緑ブロック ===== */
        .footer-menu {
            background: #3b8f6f;
            padding: 0;
        }

        .footer-menu-item-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 30px;
            border-top: 1px solid var(--back-color);
            border-bottom: 1px solid var(--back-color);
            color: #fff;
            text-decoration: none;
            font-size: 0.92rem;
        }

        .footer-menu-item-top p {
            padding: 10px;
        }

        .footer-menu-item p {
            padding: 10px;
        }

        .footer-menu-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 30px;
            border-bottom: 1px solid var(--back-color);
            color: #fff;
            text-decoration: none;
            font-size: 0.92rem;
        }

        .footer-menu-item i {
            font-size: 0.8rem;
        }

        /* ===== SNS部分 ===== */
        .footer-sns {
            padding: 30px 20px 40px;
            text-align: center;
        }

        .sns-box {
            display: flex;
            justify-content: space-around;
        }

        .sns-box-icons {
            display: flex;
            justify-content: space-around;
            gap: 2rem;
        }

        .sns-icons {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }

        .sns-labels {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.7rem;

        }

        .sns-icon {
            width: 2rem;

        }

        .sns-icon-facebook {
            width: 1.7rem;
        }

        .sns-icon-x {
            width: 1.4rem;
        }

        .footer-sns-title {
            font-weight: bold;
            font-size: 1.3rem;
            color: var(--font-normal);
            letter-spacing: 0.1em;
            margin-bottom: 18px;
            height: 30px;
        }

        .sns-list {
            display: flex;
            flex-direction: column;
            gap: 18px;
            margin-bottom: 25px;
        }

        .sns-item {
            display: flex;
            align-items: center;
            gap: 15px;
            color: #555;
            font-size: 0.95rem;
            text-decoration: none;
        }

        .sns-item i {
            font-size: 1.3rem;
        }

        .footer-line {
            width: 80%;
            height: 1px;
            background: #e0e0e0;
            margin: 20px auto;
        }

        .footer-copy {
            font-size: 0.75rem;
            color: #777;
        }

        .copyright {
            text-align: center;
            font-size: 0.8rem;
            margin: 0;
        }

        /* 開催中 */
        /* --- タブメニュー --- */
        .tab-wrapper {
            display: flex;
            justify-content: center;
            gap: 1rem;
            /* タブの間隔 */
            margin: 30px 0;
            padding: 1rem;
        }

        .tab {
            width: 80%;
            position: relative;
            padding-bottom: 10px;
            font-size: 16px;
            color: var(--font-normal);
            cursor: pointer;
            text-align: center;
            font-weight: bold;
        }

        /* 下線（緑のライン） */
        .tab::after {
            content: "";
            display: block;
            width: 100%;
            height: 3px;
            background: var(--main-color);
            margin-top: 5px;
            opacity: 0.4;
            transition: opacity 0.3s;
        }

        .tab.active::after {
            opacity: 1;
        }


        .marker {
            position: absolute;
            left: 50%;
            bottom: 0px;
            /* 位置の微調整 */
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 12px solid var(--main-color);
            /* 緑の三角形 */
            z-index: 1;
        }

        /* --- 親要素（緑色のセクション） --- */
        .colored-section {
            background-color: var(--back-color);
            color: white;
        }

        /* --- 波の共通設定 --- */
        .wave-divider {
            width: 100%;
            overflow: hidden;
            line-height: 0;
        }

        .wave-divider svg {
            position: relative;
            display: block;
            height: 100px;
        }

        .shape-fill {
            fill: var(--back-color);
        }

        .wave-top {
            top: 0;
            transform: rotate(180deg);
            margin-bottom: -1px;
        }

        .wave-bottom {
            bottom: -1px;
        }

        /* 企画内容 */
        /* カード全体のコンテナ */
        .card-box {
            width: 90%;
            margin: 0 auto;
        }

        .card {
            background-color: var(--back-color);
            border: 1px solid #e0e0e0;
            border-radius: 16px;
            padding: 12px;
            width: 95%;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
            margin: 0 auto;
        }

        /* 画像エリア */
        .card-image-wrapper {
            position: relative;
            width: 95%;
            margin: 0 auto;
            border-radius: 8px;
            overflow: hidden;
            background-color: var(--back-color);
            max-height: 350px;
        }

        /* 画像そのもの */
        .card-image-wrapper img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }

        /* 左上の緑のバッジ */
        .badge {
            position: absolute;
            top: 20px;
            left: 20px;
            background-color: var(--sub-color);
            color: #fff;
            font-weight: bold;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

        /* コンテンツエリア */
        .card-content {
            padding: 16px 4px 4px 4px;
        }

        /* 開催期間の行 */
        .date-row {
            color: #999;
            font-size: 13px;
            margin-bottom: 12px;
            letter-spacing: 0.05em;
        }

        .date-label {
            margin-right: 8px;
        }

        /* 説明文 */
        .description {
            color: var(--font-normal);
            font-size: 14px;
            line-height: 1.6;
            margin: 0;
            width: 100%;
            margin-bottom: 30px;
        }

        .flow-situation {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 90%;
            margin: 0 auto;
            color: var(--font-normal);
        }

        .flow-situation h2 {
            text-align: center;
            font-weight: 600;
            font-size: 24px;
        }

        .flow-situation p {
            font-size: 32px;
            font-weight: bold;
            color: var(--sub-color);
        }

        .flow-text {
            width: 95%;
            margin: 0 auto;
            letter-spacing: 1px;
            font-weight: 500;
            font-size: 16px;
        }